<% layout("/layouts/boilerplate") %>

<% if (listing.geometry) { %>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listingData = <%- JSON.stringify(listing) %>;
</script>
<% } %>

<body>
  <div class="row mt-4">
    <div class="col-8 offset-2">
      <h3 class="mb-4"><%= listing.title %></h3>

      <div class="card border-0 listing-card">
        <img 
          src="<%= listing.image.url %>" 
          class="show-listing-img card-img-top rounded-4"
        />

        <div class="card-body px-0">
          <p class="card-text">Owned by <i><%= listing.owner.username %></i></p>
          <p class="card-text fs-5"><%= listing.description %></p>
          <p class="card-text">&#x20B9; <%= listing.price.toLocaleString("en-IN") %></p>
          <p><%= listing.location %></p>
          <p><%= listing.country %></p>
        </div>
      </div>

      <% if (currUser && listing.owner && listing.owner._id.equals(currUser._id)) { %>
        <div class="mt-4 d-flex gap-3">
          <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger px-4 py-2">Edit</a>
          <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-dark px-4 py-2">Delete</button>
          </form>
        </div>
      <% } %>
    </div>
  </div>

  <div class="col-8 offset-2 mb-3">

    <% if (currUser) { %>
      <h4>Leave a Review</h4>
      <form action="/listings/<%= listing._id %>/reviews" method="POST" class="needs-validation">
        <textarea name="review[comment]" class="form-control mb-3" required></textarea>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <hr>
    <% } %>

    <% if (listing.reviews.length > 0) { %>
      <div class="row">
        <% for (review of listing.reviews) { %>
          <div class="card col-5 ms-5 mb-3">
            <div class="card-body">
              <h5>@<%= review.author.username %></h5>
              <p><%= review.comment %></p>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>

    <% if (listing.geometry) { %>
      <div class="col-8 mb-5">
        <h3>Where you will be</h3>
        <div id="map" class="map-container"></div>
      </div>
    <% } %>

  </div>
</body>

<% if (listing.geometry) { %>
<script src="/js/map.js"></script>
<% } %>
